@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bgGradient{
   background: linear-gradient(221.69deg, #E91C24 20.47%, #9F3237 76.45%);
   border-radius: 16px;
   gap: 11px;
}

body{
   margin: 0;
   padding: 0;
    box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

.admin{
   min-height: 85vh;
   background-image: url('https://images.pexels.com/photos/4041161/pexels-photo-4041161.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-clip: border-box;
}